@charset "UTF-8";
/* COLORS */
/* licht rood */
/* rood */
/* donder rood */
html, body, div, span, applet, object,
iframe, h1, h2, h3, h4, h5, h6, p, blockquote,
pre, a, abbr, acronym, address, big, cite,
code, del, dfn, em, img, ins, kbd, q, s, samp, strike, strong, sub, sup, tt, var, b,
u, i, center, dl, dt, dd, li, fieldset,
form, label, legend, caption,
tfoot, article, aside,
canvas, details, embed, figure, figcaption,
footer, header, hgroup, menu, nav, output, ruby,
section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  vertical-align: baseline;
}

html, body {
  color: #fff;
  background: #be1e2d;
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
}

img {
  max-width: 100%;
}

p {
  padding: 0.25em 0 1em;
}

h1, h2, h3, h4, h5, h6 {
  font-weight: bold;
  line-height: 0.9em;
  padding: 0.25em 0 0.5em;
}

h1 a, h2 a, h3 a, h4 a, h5 a, h6 a {
  color: inherit;
  text-decoration: none;
}

h1 {
  font-size: 2.75em;
}

h2 {
  font-size: 1.75em;
}

h3 {
  font-size: 1.1em;
}

h4 {
  font-size: 1em;
}

h5 {
  font-size: 0.8em;
}

h6 {
  font-size: 0.6em;
}

b {
  font-weight: 700;
}

i {
  font-style: italic;
}

/* ROW & COL */
section .inner .row {
  width: 100%;
  display: inline-block;
}
section .inner .col-20 {
  width: 100%;
}
section .inner .col-80 {
  width: 100%;
}

/* SECTIONS */
section#brand-nav {
  padding: 25px;
  background: #fff;
  color: #222;
  border-bottom: 3px solid #be1e2d;
}

section#brand-nav .inner {
  padding-bottom: 0;
}

section#hero-banner {
  padding: 25px;
  background: #8a0512;
  background: linear-gradient(131deg, #e94857 0%, #be1e2d 59%, #8a0512 100%);
  border-bottom: 3px solid #8a0512;
}

section#hero-banner .inner {
  padding-bottom: 0.75em;
}

section#page-holder {
  padding: 25px;
  background: #fff;
  color: #222;
}

section#page-holder .inner {
  padding-bottom: 0.75em;
}

section#footer-holder {
  padding: 25px;
  background: #8a0512;
}

section#footer-holder .inner {
  padding: 2.5em 0;
}

footer {
  padding: 25px;
}

footer .inner {
  padding: .5em 0;
  text-align: center;
  font-size: 80%;
}

/* NAVIGATION MENU */
.main-navigation {
  overflow: hidden;
  background-color: #be1e2d;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
}
.main-navigation .topbar {
  color: #fff;
  padding: 14px 60px 14px 16px;
  text-align: right;
  min-height: 24px;
}
.main-navigation #mainNav {
  display: none;
}
.main-navigation ul.menu {
  margin: 0;
  padding: 0;
  border-bottom: 1px solid #8a0512;
}
.main-navigation ul.menu li {
  list-style: none;
  border-top: 1px solid #8a0512;
}
.main-navigation ul.submenu {
  margin-left: -40px;
}
.main-navigation ul.submenu a::before {
  margin-left: 40px;
  content: "∘ ";
}
.main-navigation a {
  color: #fff;
  padding: 14px 25px;
  text-decoration: none;
  font-size: 17px;
  display: block;
}
.main-navigation a:hover {
  background-color: #e94857;
  color: #fff;
}
.main-navigation a.icon-menu {
  padding: 14px 16px;
  background: black;
  display: block;
  position: absolute;
  right: 0;
  top: 0;
}

/* BRANDING */
.branding-mobile {
  display: inline-block;
  margin-top: 65px;
}
.branding-mobile span.logo {
  width: 100%;
}

.branding-desktop {
  display: none;
}

/* HERO BANNER */
section#hero-banner {
  color: #fff;
  font-size: 115%;
}
section#hero-banner a {
  color: #ffe958;
  text-decoration: none;
}
section#hero-banner a:hover {
  color: #ffe958;
  text-decoration: underline;
}
section#hero-banner .button {
  display: inline-block;
  font-weight: 700;
  background: #000;
  text-transform: uppercase;
  color: #fff !important;
  text-decoration: none;
  border-radius: 5px;
  margin-top: 1rem;
  border: 1px solid transparent;
  cursor: pointer;
  font-size: 0.95rem;
  padding: .5rem .75rem;
}

/* BILJARTTEAMS BANNER - biljartteams-banner-holder */
section#biljartteams-banner-holder {
  position: relative;
  padding: 0 25px;
  color: #fff;
  background: #00A14B;
  min-height: 10em;
}
section#biljartteams-banner-holder .bg-top {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 3em;
  background: #fff;
}
section#biljartteams-banner-holder .inner {
  z-index: 1;
  position: relative;
  top: 0;
  left: 0;
  width: 100%;
  text-align: center;
}
section#biljartteams-banner-holder .inner p {
  padding: 1.5em 0;
  text-shadow: 1px 1px 3px #005226;
}
section#biljartteams-banner-holder .inner a {
  color: #daffeb;
  text-decoration: none;
}
section#biljartteams-banner-holder .inner a:hover {
  text-decoration: underline;
}
section#biljartteams-banner-holder .inner .img-moblie {
  width: 100%;
  border-bottom: 1px solid #005226;
}
section#biljartteams-banner-holder .inner .img-moblie img {
  display: block;
  margin: 0 auto;
}
section#biljartteams-banner-holder .inner .android-apple-links a img {
  border: 2px solid #000;
  border-radius: 4px;
}

/* MAIN CONTENT - page-holder */
section#page-holder {
  color: #222;
}
section#page-holder p {
  padding: 0.25em 0 1em;
}
section#page-holder a {
  color: #e94857;
  text-decoration: none;
}
section#page-holder a:hover {
  color: #8a0512;
  text-decoration: underline;
}

/* FOOTER CONTENT - footer-holder */
section#footer-holder {
  color: #fff;
}
section#footer-holder p {
  padding: 0.25em 0 1em;
}
section#footer-holder a {
  color: #ffe958;
  text-decoration: none;
}
section#footer-holder a:hover {
  color: #ffe958;
  text-decoration: underline;
}

/* FOOTER .copyright */
footer.copyright p {
  padding: 0.25em 0 1em;
}
footer.copyright .left {
  float: left;
}
footer.copyright .right {
  float: right;
}
footer.copyright a {
  color: #fff;
  text-decoration: none;
}

/* MEDIA 992 PX ========================================== */
@media screen and (min-width: 992px) {
  section#brand-nav {
    padding: 25px 0 0 0;
  }

  section#brand-nav .inner,
  section#hero-banner .inner,
  section#page-holder .inner,
  section#footer-holder .inner,
  footer.copyright {
    max-width: 992px;
    margin: 0 auto;
  }

  .main-navigation {
    position: relative;
    background: transparent;
    display: flex;
  }
  .main-navigation #mainNav {
    display: inline-block;
    width: 100%;
  }
  .main-navigation div.topbar, .main-navigation a.icon-menu, .main-navigation ul.submenu {
    display: none;
  }
  .main-navigation ul.menu {
    border-bottom: 0;
  }
  .main-navigation ul.menu li {
    border-top: 0;
    float: left;
    margin-right: 15px;
  }
  .main-navigation a {
    color: #222;
    background-color: transparent;
    border-bottom: 3px solid transparent;
    padding: 0 0 0.5em 0;
  }
  .main-navigation a:hover {
    color: #222;
    font-weight: 700;
    background-color: transparent;
    border-bottom-color: #be1e2d;
  }

  /* BRANDING */
  .branding-desktop {
    display: inline-block;
    margin: 15px 25px 0 0;
  }
  .branding-desktop span {
    float: left;
  }
  .branding-desktop span.logo {
    width: 350px;
    margin-right: 10px;
  }

  .branding-mobile {
    display: none;
  }

  /* BILJARTTEAMS BANNER - biljartteams-banner-holder */
  section#biljartteams-banner-holder .inner {
    text-align: left;
    max-width: 992px;
    margin: 0 auto;
    display: flex;
  }
  section#biljartteams-banner-holder .inner .img-moblie {
    width: auto;
    border-bottom: 0;
  }
  section#biljartteams-banner-holder .inner p.content {
    float: left;
    margin-top: 3em;
  }
  section#biljartteams-banner-holder .inner p.info-link {
    padding: 2em 0 0 0;
  }
  section#biljartteams-banner-holder .inner .android-apple-links a {
    float: right;
  }
  section#biljartteams-banner-holder .inner .android-apple-links a img {
    border: 2px solid #000;
    border-radius: 4px;
    margin-left: 0.25em;
  }

  /* ROW & COL */
  section .inner .row {
    width: 100%;
    display: inline-block;
  }
  section .inner .col-20 {
    width: 19%;
    margin-right: 1%;
    float: left;
  }
  section .inner .col-80 {
    width: 80%;
    float: left;
  }
}
/* END MEDIA 992PX */
